<h1 mat-dialog-title>Adicionar tarefa</h1>

<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <div style="width: 100%; display:flex; gap:1rem;">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput placeholder="Título" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div style="width: 100%;">
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao" rows="6"></textarea>
      </mat-form-field>
    </div>

    <div style="display:flex;width: 100%; flex-direction:row; gap:1rem;">
      <mat-form-field appearance="outline">
        <mat-label>Responsável</mat-label>
        <mat-select placeholder="Responsável" formControlName="responsavel">
          <mat-option value="Luiz">Luiz</mat-option>
          <mat-option value="Luiza">Luiza</mat-option>
          <mat-option value="Raí">Raí</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prioridade</mat-label>
        <mat-select placeholder="Prioridade" formControlName="prioridade">
          <mat-option value="Grave">Grave</mat-option>
          <mat-option value="Média">Médio</mat-option>
          <mat-option value="Fácil">Fácil</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-action style="display: flex; justify-content: flex-end; padding-left:2rem;padding-right:2rem;">
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    style="margin-right: 5px"
  >
    Close
  </button>
  <button mat-raised-button color="primary" (click)="addTask()">{{actionBtn}}</button>
</div>
