.App {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas:
    "sidebar mainContent mainContent"
    "sidebar footer footer";
}

.sidebar {
  grid-area: sidebar;
  height: 90vh;
}

.mainContent {
	grid-area: mainContent;
	width: 85%;
	min-height: 90vh;
  margin: auto;
  
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.filter{
  background-color: #4394eb14;
  // padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
}

.filter__container {
  display: flex;
  flex-wrap: wrap; /* Adicione esta linha para que os itens sejam quebrados em linhas quando necessário */
  align-items: center;
}
.filter__container div{
  padding: 0.2rem;
}

.mainContent__container_h1{
  margin-top: 2rem;
}

.mainContent__container_h1 h1{
  font-size: 1.5rem;
  font-weight: 400;
}

.dialog-actions__button_sair{
  background-color: #ff6347 !important;
  border-radius: 5px !important;
  color: #FFF !important;
}

.dialog-actions__button_add{
  background-color: #4394EB !important;
  border-radius: 5px !important;
  color: #FFF !important;
}

.showdetails{
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 3fr 0.1fr;
    grid-template-areas:
      "sidebar"
      "mainContent"
      "footer";
  }
  .sidebar {
    height: auto;
    width: 90%;
    margin: auto;
  }

  .mainContent{
		width: 90%;

	}

  .filter__container{
    flex-direction: row;
    gap: 0;
  }

  .filter__actions{
    flex-direction: column;
    gap: 1rem;
  }

  .filter{
    padding: 1rem;
  }
  .filter__container div{
    width: 100%;
  }

  .dialog-actions__button_sair{
    width: 100%;
  }
  
  .dialog-actions__button_add{
    width: 100%;
  }
  .table{
    overflow-x: scroll;
  }
}
