<h1 mat-dialog-title>Adicionar tarefa</h1>

<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <div class="form__container">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input formControlName="title" matInput placeholder="Título" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form__full-width">
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" rows="6"></textarea>
      </mat-form-field>
    </div>

    <div class="form__container">
      <mat-form-field appearance="outline">
        <mat-label>Responsável</mat-label>
        <mat-select placeholder="Responsável" formControlName="responsible">
          <mat-option value="Luiz">Luiz</mat-option>
          <mat-option value="Raí">Raí</mat-option>
          <mat-option value="Alisson">Alisson</mat-option>
          <mat-option value="Carlos">Carlos</mat-option>
          <mat-option value="Laura">Laura</mat-option>
          <mat-option value="Gabriel">Gabriel</mat-option>
          <mat-option value="Mariana">Mariana</mat-option>
          <mat-option value="Daniel">Daniel</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prioridade</mat-label>
        <mat-select placeholder="Prioridade" formControlName="priority">
          <mat-option value="Grave">Grave</mat-option>
          <mat-option value="Média">Médio</mat-option>
          <mat-option value="Fácil">Fácil</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="dialog-actions">
  <button
    mat-raised-button
    mat-dialog-close
    class="dialog-actions__button_sair"
    aria-label="Botão para sair do modal"
  >
    Sair
  </button>
  <button mat-raised-button color="primary" (click)="addTask()"  class="dialog-actions__button_add" aria-label="Botão para adicionar uma tarrefa ou editar">
    {{ actionBtn }}
  </button>
</div>
