mat-form-field {
  width: 100%;
}

.form__container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.form__full-width {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
}

.dialog-actions__button_sair{
  background-color: #c34b35;
  border-radius: 5px;
  color: #FFF;
  width: 35%;
}

.dialog-actions__button_add{
  background-color: #3577be;
  border-radius: 5px;
  color: #FFF;
  width: 35%;
}