<div style="border: solid 1px #fff">
  <h1
    mat-dialog-title
    [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }"
  >
    Adicionar tarefa
  </h1>

  <div
    mat-dialog-content
    [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }"
  >
    <form [formGroup]="taskForm">
      <div class="form__container">

        <div>
          <label for="titulo">Título</label>
          <input
            type="text"
            formControlName="title"
            id="titulo"
            placeholder="Ex.: pastel"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="Campo para o título"
          />
        </div>

        <div>
          <label for="deadline">Deadline</label>
          <input
            type="date"
            formControlName="deadline"
            id="deadline"
            placeholder=""
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="Campo para data limite"
          />
        </div>
      </div>

      <div class="form__full-width">

        <div>
          <label for="descricao">Descrição</label>
          <textarea
            formControlName="description"
            id="descricao"
            placeholder="Ex.: Comer pastel"
            rows="6"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="Campo para descrição da tarefa"
          ></textarea>
        </div>
      </div>

      <div class="form__container">

        <div>
          <label for="responsavel">Responsável</label>
          <select
            placeholder="Responsável"
            id="responsavel"
            formControlName="responsible"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="select para atribuir um responsável"
          >
            <option disabled selected value="">Ex.: Luiz</option>
            <option value="Luiz">Luiz</option>
            <option value="Raí">Raí</option>
            <option value="Alisson">Alisson</option>
            <option value="Carlos">Carlos</option>
            <option value="Laura">Laura</option>
            <option value="Gabriel">Gabriel</option>
            <option value="Mariana">Mariana</option>
            <option value="Daniel">Daniel</option>
            <option value="Luiza">Luiza</option>
            <option value="Julia">julia</option>
          </select>
        </div>

        <div>
          <label for="prioridade">Prioridade</label>
          <select
            placeholder="Prioridade"
            id="prioridade"
            formControlName="priority"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="select para setar a gravidade da tarefa"
          >
            <option disabled selected value="">Ex.: Grave</option>
            <option value="Grave">Grave</option>
            <option value="Média">Médio</option>
            <option value="Fácil">Fácil</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div
    class="dialog-actions"
    [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }"
  >
    <button
      mat-raised-button
      mat-dialog-close
      class="dialog-actions__button_sair"
      aria-label="Botão para sair do modal"
      [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
    >
      Sair
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="addTask()"
      class="dialog-actions__button_add"
      aria-label="Botão para adicionar uma tarrefa ou editar"
      [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
    >
      {{ actionBtn }}
    </button>
  </div>
</div>
